<!DOCTYPE html>
<html>
  <head>
    <title>GameWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
		<div style="padding: 10px 5px 10px 20px;">
			<%= yield %>
		</div>
  </body>
</html>
